<h1>Square-code</h1>
<app-vowels></app-vowels>
<div class="container-fluid">
  <div class="row">
    <div class="row m-0 p-1">
      <div class="col-md-5 text-start">
        <h2>HTML:</h2>
        <pre>
          {{ codeSquare.codeHTML }}
        </pre>
      </div>

      <div
        class="col-md-5 border border-primary border-top-0 border-bottom-0 text-start"
      >
        <h2>TS:</h2>
        <pre
          >{{ codeSquare.codeTS }}
          </pre
        >
      </div>

      <div class="col-md-2 text-start">
        <h2>SCSS:</h2>
        <pre
          >{{ codeSquare.codeSCSS }}
        </pre>
      </div>
    </div>
  </div>
</div>
