<div
  class="scroll-container container-fluid offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="row">
    <div class="col-md-9">
      <h1 id="staticBackdropLabel">Details:</h1>
    </div>

    <div class="col-md-1 text-end">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
  </div>

  <div class="row text-start">
    <a routerLink=""><h2>Home</h2></a>
  </div>

  <div class="container-fluid scroll-container">
    <div class="row"><h2>Practice:</h2></div>

    <div class="row">
      <div class="col p-2">
        <p><a routerLink="horses">horses</a></p>
        <p><a routerLink="table">table</a></p>
        <p><a routerLink="black-jack">black-jack</a></p>
      </div>
    </div>

    <div class="row"><h2>Tasks-code:</h2></div>

    <div class="row">
      <div class="col p-2">
        <p><a routerLink="square_code">square-code</a></p>
        <p><a routerLink="vowels_code">vowels-code</a></p>
        <p><a routerLink="find_word_code">find-word-code</a></p>
        <p><a routerLink="matrix_code">matrix-code</a></p>
      </div>
    </div>
  </div>
</div>
